@font-face {
    font-family: 'consolas';
    src: url(consola.ttf);
}
@font-face {
    font-family: 'courier';
    src: url(courbd.ttf);
}
@font-face {
    font-family: 'shm';
    src: url(shm-r.otf);
}

body {
    background-color: #ccc;
			background: url(img/bg.jpg) repeat;
			margin: 0px;
			overflow: hidden;
			background-size: cover;
}

.text-display {
    position: relative;
    top: 50px;
    right: 75px;
    align-content: flex-end;
}

.word {
    text-align: right;
    line-height: 330%;
}

.spelling {
    font-family: consolas;
    font-size: 60px;
    color: white;
    text-shadow: 0 0 7px white;
}

.phonetic {
    font-family: courier;
    font-size: 24px;
    color: #9edeff;
    text-shadow: 0 0 10px #9edeff;
}

.definition {
    font-family: shm;
    font-style: italic;
    font-size: 24px;
    color: white;
    text-shadow: 0 0 10px white;
}

.re {
    float: right;
    width: 500px;
    opacity: 0.6;
    background-color: transparent;
    transition-duration: 0.4s;
    border-radius: 10px;
    border: 0px;
}

.re:hover {
    box-shadow: 0 0 10px white, 0 0 10px white inset;
    opacity: 1;
}